.welcomeDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  .welcome{
    color: $green;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    width: 50rem;
    text-align: center;
    background-color: $beige;
  }
}
.logout{
  padding: 0.5rem;
  margin-bottom: 3rem;
  width: 8rem;
  font-size: 1rem;
  border-radius: 2px;
  transition: 0.3s;
  color: $green;
  background-color: $yellow;
  border: $yellow solid 1.5px;
  &:hover{
    color: $yellow;
    background-color: $green;
  }
}
