
*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  padding: 1rem;
  font-family: $font;
  background-color: $green;
}

.title{
  font-family: $titleFont;
  color: $yellow;
  font-size: 2.5rem;
}

.signupButton{
  color: $yellow;
  text-decoration: none;
  padding: 0.5rem;
  border: solid 1px;
  position: absolute;
  top: 2.5%;
  left: 90%;
}
